.title-container {
    width: 130px;
    font-family: 'Poppins';
    color: white;
    text-decoration-color: aliceblue;
}

.search-text {
    border-radius: 1.5rem;
    margin-top: 1.5rem;
    margin-right: 0.5rem;
    background-image: url('https://tse3.mm.bing.net/th?id=OIP.RF8hdNm5eOnLDpG_GSu5NwHaHN&pid=Api&P=0&h=180');
    background-position: 5px 5px; 
    background-size: 15px;
    background-repeat: no-repeat;
    padding: 0.3rem;
    padding-left: 25px;
    border: 0.1rem;
}

.app-header {
    background-color:cadetblue;
    border: none;
    position: static;
    width: auto;
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
}

.section-layout {
    color: gray;
}

.res-card, .shimmer-card {
    border-radius: 1.5rem;
    padding: 10px;
    background-color: whitesmoke;
    margin: 5px;
    width: 255px;
    height:80px;
    border: 2rem, solid;
}

.admin, .member, .hr-line {
    margin: 30px;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.image-content {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 5px;
}

.image-content, .name-content {
    display: inline-block;
}

.email-content {
    margin-block-start: 10px;
    color: grey;
}

.name-content {
    margin-inline-start: 10px;
}

.admin-card, .member-card, .shimmer-container {
    display: flex;
    flex-wrap: wrap;
}
